.channels__container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    gap:10rem;
    background-color: #d9eff9;
    padding: 2rem 0rem;
    
}    
.leftpart{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 2rem 4rem;
}
.video__container{
    display: flex;
    justify-content: center;
    margin-right: 6rem;
    
    
} 
.video__container video{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 400px;  
}
.channels{
    background-color: #d9eff9;}

.explore__bt{
    font-family: var(--font-family);
}
.t1{
    font-family: var(--font-family);
}
.t2{
    font-family: var(--font-family);
    letter-spacing: 0.8px;
    font-weight: 200;
    line-height: 1.8;
    word-spacing: 0.1rem;
    font-weight: 400;
    
}
.t2 a{
    color:rgb(36, 9, 187);
    font-weight: 600;
    
}
@media  screen and (max-width: 550px){
    .channels__container{
        flex-direction: column;
        gap: 2rem;
        margin: 1rem 3rem ;    }
    .video__container{
        margin-right: 4rem;
        margin-bottom: 2rem;
    }
    .video__container video{
        width: 200px;
    }
    
}
    
