.slogan_text{
    font-size:58px;
    font-weight: 700;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-stretch:ultra-expanded;
    color: rgb(6, 46, 63);
    margin-bottom: 2rem;
}
.slogan_container{

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
    background-color: #ffffff;
    padding-bottom: 1rem;
    margin: 0 4rem; 
    
    
}.slogan_container p{
    display: flex;
    justify-content: center;
    border: 2px solid white;
    background-color: aqua;
    align-items: center;
    width: 150px;
}
.button1 {

    display: flex;
    align-items: center;
    justify-content: center;
   
}
.button1 button {
    padding: 1rem 2rem;
   
  background:rgb(13, 89, 50);
    border-radius: 5px;
    font-weight: bolder;
    font-size: medium;
    font-family:'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    cursor: pointer;
} 
.button1 button:hover {
    background-color: #0cc913;
    color: rgb(14, 62, 236);
}
.slogan_text{
    font-family: var(--font-family);
    font-size: 40px;
    margin-top: 2rem;
}

@media screen and (max-width: 550px) {
    .slogan_text{
            display: flex;
            justify-content: center ;
            font-size: larger;
    }
    
}
    
