.custapp{
    margin-top: 0;

}
.custsupp_container{
    margin-top: 0;
}
.head1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text2{
    color: rgb(0, 0, 0);
    margin-top: 1rem;
    font-weight: 300;
    font-family: var(--font-family);
    font-size: 16px;
}
.text1{
    margin-top: 1rem;
    font-family: var(--font-family);
    font-size: 26px;
    margin-bottom: 1rem;
}
.card2__container{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 3rem ;

  
    
}
.cardmain__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 0.5px;

}
 
.main__container{
    display: flex;
    flex-direction: row;
    margin: 2rem 1rem;
    align-items: center;
    
}
.text10{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    word-spacing: 1px;
    margin-top: 1rem;

   
    
}
@media screen and (max-width: 550px){
    .card2__container{
        flex-direction: column;
        width: 300px;
      
    }
    .custsupp_container{
        margin: 2rem 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


    }
    .text1{
        font-size: medium;
        margin: 1rem 2.5rem;
    }
    .text2{
        font-size: small;
        margin-left: 2rem;
    }
    .card__content{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0.5rem 1rem;
    }
    .card__media {
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .card__media img{
        width: 100px;
    }



   
}




