.navbar{
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding:2rem 6rem
    
}
.navbar__links{
    flex:1;
    display:flex;
    justify-content:flex-start;
    align-items:center;
}
.navbar__links-logo{
    margin-right:2rem;

}
.navbar__links-logo img{
    width:80px;
    height:50px
}