navbar{
    display: flex;
    flex-direction: row;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 10rem;
    background-color: rgb(1, 36, 84);
    position: sticky;
    top:0;
    z-index: 1000;
    

}
navbar ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 4rem;


}
.nav__links a{
    color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    font-family: var(--font-family);


}
navbar img{
    border-radius: 5px;
    width: 55px;
}
.dropdown{
    position: relative;


}
.dropdown__menu{
    position: absolute;
    border-radius: 10px;
    border: 5px solid rgba(25, 243, 108, 0);
    z-index: 100000;
    background-color: rgb(255, 255, 255);
    width: 500px;
    box-shadow: #0d5c70;
    box-shadow: 0 4px 8px rgb(43, 43, 44); 
    display: flex;
    flex-direction: row;
    justify-content: space-around;


}
.dropdown-content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 1rem;
    align-items: flex-start;


  
}
.dropdown-content li a{
 
    font-size: 13px;
    font-family: var(--font-family);
    font-weight: 800;
    padding: 1rem 1rem;
    color: rgb(0, 0, 0);
    

}
.dropdown-content a:hover {
    background-color: #0d5c70; 
    color: aliceblue;/* Change to desired hover background color */
  }
  .dropdown__Content2{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 1rem;
    align-items: flex-start;

  }
  .dropdown__Content2 li a{
    
    font-size: 13px;
    font-family: var(--font-family);
    font-weight: 800;
    padding: 1rem 1rem;
    color: rgb(0, 0, 0);
    
  }
  .dropdown__Content2 a:hover {
    background-color: #0d5c70; 
    color: aliceblue;/* Change to desired hover background color */
  }