.cmm__motto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;gap: 5rem;;
    border-radius: 15px;
}
.image__container {
    width:350px;
    border: 1px solid #080505;
   border-radius: 5px;

}
.image__container  img{
    border: 1px solid #ccc;
}
.cmm__content{
    display: flex;
    gap: 4em;
    flex-direction: column; line-height: 2rem;
}
.cmm__content h3{
        color: aliceblue;
}
@media (max-width: 550px) {
    .cmm__motto{
        display: flex;
        flex-direction: column;
        gap: none;
    }
    .image__container{
        width:auto;
    }
    .cmm__content{
        display: flex;
        flex-direction: column; 
        text-align: justify;
    }
    .cmm__content h2{
        font-size:35px;
        line-height: 1.5rem;

    }
}


